.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 50px;
    font-size: 30px;
}